$clementine-orange: #e36d00;
$watermelon: #fc5657;
$salmon-pink: #fc7475;
$light-pink: #fc8f90;
$reddish-pink: #fd4f50;
$carnation-pink: #fd595a;
$butterscotch: #ffbf4c;
$white: #ffffff;
$dark-coral: rgba(252, 69, 70, 0.55);
