@import './constants/colors.scss';
@import './constants/urls.scss';

.background-logo {
  color: $white;
	font-size: 30px;
	font-weight: 600;
	line-height: 1;
	margin: 3% 15%;
  text-align: center;
  width: 20%;
}

.background-overlay {
	background-color: $white;
  width: 44%;
}

.car {
	position: fixed;
	right: 53%;
	top: 25%;
  width: 86%;
}

.car-wrapper {
	height: 100vh;
	padding-top: 40%;
}

.caravan-description {
	color: $carnation-pink;
	font-size: 18px;
	line-height: 144%;
	margin-right: 23%;
	margin-top: 5%;
}

.google-button {
	margin: 5% 13%;
}

img.gplus {
	height: 44%;
	padding-right: 5%;
	vertical-align: text-bottom;
}

.tagline {
  color: $carnation-pink;
	display: inline-block;
  font-size: 40px;
  font-weight: 500;
	margin-left: 13%;
	margin-right: 5%;
	margin-top: 250px;
}
