body {
  background: linear-gradient(to bottom, #fc8f90, #fd4f50);
}

button:active {
  box-shadow: 0px 0px 1px 1px #e36d00;
}

button:focus {
  outline: none;
}

.car {
  width: 86.85vw;
  position: absolute;
  left: -40vw;
  top: 22vh;
}

.car-wrapper {
  width: 47.2vw;
  height: 76.11vh;
  padding-top: 30vh;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  font-size: 100vw;
  overflow: hidden;
}

.Log-in-with-Google {
  padding-bottom: 4.9%;
  padding-right: 9.5%;
  padding-top: 4.9%;
  height: 100%;
  width: 100%;
  font-family: Montserrat;
  font-size: 1.5vw;
  font-weight: 400;
  text-align: right;
  color: #ffffff;
}

.logo {
  width: 10.8vw;
  font-family: Montserrat;
  font-size: 2.26vw;
  font-weight: 600;
  line-height: 1.05;
  text-align: center;
  color: #ffffff;
  margin-left: 15.1%;
  margin-top: 1.78vw;
}

.google-button {
  margin-top: 0px;
  margin-left: 13.3%;
  width: 50.7%;
  padding: 0px;
  border: 0px;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(3.9px);
  backdrop-filter: blur(3.9px);
  background-color: #ffbf4c;
  box-shadow: 2px 2px 0 0 #e36d00;
  display: inline-flex;
}

.gplus {
  padding-left: 9.5%;
  padding-right: 0px;
  padding-top: 5%;
}

.Mask {
  width: 100%;
  height: 100vh;
  background-position: 21% 15%;
  background-image: url('./backgrounds/Background_Pattern_Fade.png');
}

.Tagline {
  margin-bottom: 3.4%;
  margin-left: 13.3%;
  margin-right: 13.3%;
  margin-top: 28.1%;
  font-family: Montserrat;
  font-size: 3vw;
  font-weight: bold;
  color: #fd595a;
}

.tagline-copy {
  margin-bottom: 0.04%;
  margin-left: 13.3%;
  margin-right: 22.2%;
  margin-top: 0px;
  font-family: Montserrat;
  font-size: 1.4vw;
  line-height: 144%;
  text-align: left;
  color: #fd595a;
}

.white-background {
  width: 78.33%;
  height: 100vh;
  background-color: #ffffff;
  font-size: 100px;
}
