body {
  background: #fc4546 url(https://s3.amazonaws.com/intrepid-caravan/bg-pattern-fade.svg);
  background-size: contain;
  overflow: hidden; }

button:active {
  box-shadow: 0 0 1px 1px #e36d00; }

button:focus {
  outline: none; }

.car {
  position: fixed;
  right: 53.5vw;
  top: 25vh;
  width: 86.45%; }

.car-wrapper {
  height: 100vh;
  padding-top: 30vh;
  width: 47.2vw; }

.layout-container {
  display: inline-flex;
  flex-direction: row;
  font-size: 100vw;
  height: 100%;
  width: 100%; }

.caravan-description {
  color: #fd595a;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4vw;
  line-height: 144%;
  margin-bottom: 0.04%;
  margin-left: 13.3%;
  margin-right: 22.2%;
  margin-top: 0;
  text-align: left; }

.button-text {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  height: 100%;
  padding-bottom: 4.9%;
  padding-right: 9.5%;
  padding-top: 4.9%;
  width: 100%;
  text-align: right; }

.caravan-logo {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.26vw;
  font-weight: 600;
  line-height: 1.05;
  margin-left: 15.1%;
  margin-top: 1.78vw;
  text-align: center;
  width: 10.8vw; }

.google-button {
  backdrop-filter: blur(3.9px);
  background-color: #ffbf4c;
  border: 0;
  border-radius: 4px;
  box-shadow: 2px 2px 0 0 #e36d00;
  display: inline-flex;
  margin-top: 0;
  margin-left: 13.3%;
  padding: 0;
  width: 50.7%; }

.gplus {
  padding-left: 9.5%;
  padding-right: 0;
  padding-top: 5%; }

.red-background-section {
  background: linear-gradient(to bottom, #fc8f90, #fd4f50);
  background-position: 0 -2vh;
  background-repeat: no-repeat;
  background-size: 100vmax;
  width: 100%; }

svg {
  fill: #fc4546; }

.tagline {
  color: #fd595a;
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 3.4%;
  margin-left: 13.3%;
  margin-right: 13.3%;
  margin-top: 28.1%; }

.white-background {
  background-color: #ffffff;
  font-size: 100px;
  height: 100vh;
  width: 78.33%; }
