$butterscotch: #ffbf4c;
$carnation-pink: #fd595a;
$darkest-coral: #fc4546;
$gradient-bottom: #fd4f50;
$lightest-pink: #fc8f90;
$log-cabin: #222;
$clementine-orange: #e36d00;
$salmon-pink: #fc7475;
$watermelon: #fc5657;
$white: #ffffff;
