$butterscotch: #ffbf4c;
$carnation-pink: #fd595a;
$darkest-coral: rgba(252, 69, 70, 0);
$reddish-pink: #fd4f50;
$lightest-pink: #fc8f90;
$clementine-orange: #e36d00;
$salmon-pink: #fc7475;
$watermelon: #fc5657;
$white: #ffffff;
